:root{
  --white: #f0f0f0;
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.nav {
  height: 65px;
  width: 100%;
  background-color: #68b65a;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: left;
  font-size: 18px;
}

.nav > .nav-links > li {
  display: inline-block;
  padding: 15px 10px 15px 30px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}

.nav > .nav-links > li:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }

  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.swp {
  width: 100%;
  height: 70vh;
  background: rgb(183, 125, 125);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.swiper {
  width: 70%;
  height: 500px;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content:space-evenly
}

header {
  background-color: #666;
  text-align: center;
  font-size: 20px;
  color: var(--white);
  margin: 0px 10px 20px 20px;
}

footer.text-center {
  background-color: #232f3e;
  color: white;
  margin: 73px 0 0 0 !important;
  font-size: 1.5em;
}

.btn btn-primary btn-floating m-1 {
  text-align: center;
  padding: 100px;
}

footer ul li  {
    list-style-type: none;
}
footer ul li a {
    color: rgb(61, 159, 43);
    text-decoration: none;
}
.copy {
  margin-top: 20px;
  text-align: center;
}

.detail {
  text-align: center;
  font-size: 1.2em;
}


.img2 {
  float: right;
  background-color: #232f3e;
  margin-right: 20px;
}

.clearfix::after {
  content: "";
  clear:none;
  overflow: hidden;
  display: table;
}

.clearfix p {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
  background-color: aqua;
}



